extends layout

block subhead
  .jumbotron
    h1 2013 Imperial College Computing Student Workshop
    p.lead September 26-27, 2013 London, United Kingdom
    p
      img(src='img/acmchapter.png', height='100')

block content
  .node!= page.html
